@font-face {
	font-family: "Gotham";
	src: url("../../fonts/GothamPro.eot");
	src: local("☺"), url("../fonts/GothamPro.woff") format("woff"), url("../fonts/GothamPro.ttf") format("truetype"),
		url("../fonts/GothamPro.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Gotham";
	src: url("../fonts/GothamPro-Bold.eot");
	src: local("☺"), url("../fonts/GothamPro-Bold.woff") format("woff"),
		url("../fonts/GothamPro-Bold.ttf") format("truetype"), url("../fonts/GothamPro-Bold.svg") format("svg");
	font-weight: 700;
	font-style: normal;
}
@import "_nullstyle";

html,
body {
	height: 100%;
	font-family: "Gotham", sans-serif;
}
.container {
	max-width: 1470px;
	padding: 0px 20px;
	margin: 0 auto;
	@media (max-width: 375px) {
		padding: 0;
	}
}
.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #fff;
	}
}
.header__body {
	position: relative;
	z-index: 2;
	display: flex;
	justify-content: space-between;
	height: 80px;
	align-items: center;
}
.header__logo {
	flex: 0 0 190px;
	img {
		max-width: 100%;
		display: block;
	}
	@media (max-width: 360px) {
		flex: 0 0 150px;
	}
}
.header__list {
	display: flex;
	li {
		list-style: none;
	}
}
.header__link {
	font-size: 16px;
	transition: all 0.3s ease 0s;
	color: #000;
	display: table;
	&:hover {
		background: linear-gradient(0deg, #0c988d 0%, #6bb86c 100%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		border-bottom: 1px solid #0c988d;
	}
}
.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;
	z-index: 51;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.8s ease 0s;
	&:target {
		opacity: 1;
		visibility: visible;
		.popup__content {
			opacity: 1;
			transform: scale(1, 1);
		}
	}
}
.popup__close-area {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	cursor: url("../img/closehover.svg"), auto;
}
.popup__body {
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 10px;
}
.popup__content {
	background-color: #fff;
	color: #000;
	width: 600px;
	min-height: 730px;
	padding: 60px;
	position: relative;
	transition: all 0.8s ease 0s;
	opacity: 0;
	transform: scale(0, 1);
	@media (max-width: 480px) {
		padding: 60px 20px;
	}
}
.popup2__content {
	min-height: 395px;
	margin: 0 10px;
	@media (max-width: 560px) {
		min-height: 350px;
	}
}
.popup__close {
	position: absolute;
	right: 0px;
	top: 0px;
	height: 50px;
	width: 50px;
	transition: all 0.3s ease 0s;
	background: url("../img/close.svg") 15px 20px no-repeat;
	&:hover {
		background: url("../img/closehover.svg") 15px 20px no-repeat;
	}
}
.popup__title {
	font-weight: bold;
	font-size: 48px;
	line-height: 120%;
	text-align: center;
	background: linear-gradient(0deg, #0c988d 0%, #6bb86c 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-bottom: 32px;
	@media (max-width: 560px) {
		font-size: 32px;
	}
}
.popup__text {
	font-size: 16px;
	line-height: 150%;
	text-align: center;
	color: #000000;
	margin-bottom: 64px;
}
.popup__form {
	a {
		background: linear-gradient(0deg, #0c988d 0%, #6bb86c 100%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		text-decoration: underline;
		text-decoration-color: #6bb86c;
		font-size: 14px;
	}
}
.popup__form-pair {
	display: flex;
	flex-direction: column;
	margin-bottom: 24px;
	label {
		font-size: 16px;
		line-height: 150%;
		margin-bottom: 8px;
	}
	input {
		border: 1px solid #a4a4a4;
		width: 100%;
		padding: 12px 20px;
		height: 48px;
		&::placeholder {
			font-family: "Gotham";
			font-size: 16px;
			line-height: 150%;
			color: #ababab;
		}
		&:hover {
			border: 1px solid;
			border-image: linear-gradient(90deg, #6bb86c 0%, #0c988d 100%);
			border-image-slice: 1;
		}
	}
	textarea {
		border: 1px solid #a4a4a4;
		width: 100%;
		padding: 12px 20px;
		height: 120px;
		&::placeholder {
			font-family: "Gotham";
			font-size: 16px;
			line-height: 150%;
			color: #ababab;
		}
		&:hover {
			border: 1px solid;
			border-image: linear-gradient(90deg, #6bb86c 0%, #0c988d 100%);
			border-image-slice: 1;
		}
	}
}
.popup__form-pair-checkbox {
	transition: all 0.3s ease 0s;
	padding: 0 0 0 26px;
	position: relative;
	display: inline-flex;
	cursor: pointer;
	input {
		display: none;
	}
	label {
		font-size: 14px;
	}
	&:before {
		content: "";
		border: 1px solid #a4a4a4;
		width: 16px;
		height: 16px;
		position: absolute;
		top: 2px;
		left: 0;
	}
	&:hover:before {
		box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.5);
		border: 1px solid;
		border-image: linear-gradient(225deg, #6bb86c 0%, #0c988d 100%);
		border-image-slice: 1;
	}
	&:after {
		content: "";
		transition: all 0.3s ease 0s;
		width: 16px;
		height: 16px;
		position: absolute;
		background: #0c988d;
		background: url("../img/tick.svg") center no-repeat, linear-gradient(225deg, #6bb86c 0%, #0c988d 100%);
		top: 2px;
		left: 0;
		opacity: 0;
		visibility: hidden;
	}
	&.active:after {
		opacity: 1;
		visibility: visible;
	}
}
.form__button {
	text-align: center;
}
.popup__button {
	background: linear-gradient(90deg, #6bb86c 0%, #0c988d 100%);
	border-radius: 40px;
	padding: 16px 48px;
	font-weight: bold;
	font-size: 16px;
	line-height: 150%;
	color: #ffffff;
	position: relative;
	transition: all 0.3s ease 0s;
	span {
		position: relative;
		z-index: 2;
	}
	&:before {
		content: "";
		transition: all 0.3s ease 0s;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		border-radius: 40px;
		transform: scale(0);
		background: linear-gradient(90deg, #6bb8aa 0%, #0c6698 100%);
	}
	&:hover:before {
		transform: scale(1);
	}
}
.mainscreen {
	padding: 80px 0 0 0;
	width: 100%;
	min-height: 930px;
	position: relative;
	overflow: hidden;
	z-index: 0;
	@media (max-width: 1280px) {
		min-height: 735px;
	}
}
.mainscreen__video {
	position: absolute;
	top: 80px;
	left: 0;
	width: 100%;
}
.mainscreen__overlay {
	position: absolute;
	bottom: 0px;
	left: 0;
	width: 100%;
	z-index: 4;
	padding: 32px 20px 50px 20px;
	background: #0b0f118e;
	@media (max-width: 767px) {
		background: #0b0f11;
		position: relative;
		top: 300px;
	}
	@media (max-width: 360px) {
		background: #0b0f11;
		position: relative;
		top: 150px;
	}
}
.mainscreen__title {
	font-weight: bold;
	font-size: 48px;
	line-height: 150%;
	text-align: center;
	color: #fff;
	margin-bottom: 10px;
	margin: 0 auto;
	@media (max-width: 992px) {
		font-size: 32px;
	}
}
.mainscreen__text {
	font-weight: bold;
	font-size: 24px;
	line-height: 150%;
	text-align: center;
	color: #fff;
	max-width: 1194px;
	margin: 0 auto;
	p {
		margin-bottom: 20px;
	}
	@media (max-width: 992px) {
		font-size: 18px;
	}
}
.advert {
}
.container {
}
.advert__body {
}
.advert__title {
}
.title {
	font-weight: bold;
	font-size: 48px;
	line-height: 150%;
	text-align: center;
	margin-top: 100px;
	background: linear-gradient(0deg, #0c988d 0%, #6bb86c 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-bottom: 8px;
	padding: 0 20px;
	@media (max-width: 767px) {
		margin-top: 30px;
		font-size: 32px;
	}
}
.advert__text {
}
.text {
	padding: 0 20px;
	font-weight: bold;
	font-size: 24px;
	line-height: 150%;
	text-align: center;
	color: #000000;
	max-width: 950px;
	margin: 0 auto;
	margin-bottom: 64px;
	@media (max-width: 767px) {
		font-size: 18px;
		margin-bottom: 45px;
	}
}
.advert__infographic {
	background: #f5f5f5;
}
.advert__top {
	display: flex;
	justify-content: space-between;
	position: relative;
	&:after {
		content: "";
		display: block;
		height: 1px;
		width: 90%;
		background-color: #e8e8e8;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%);
	}
	@media (max-width: 992px) {
		flex-direction: column;
	}
	@media (max-width: 480px) {
		&:after {
			display: none;
		}
	}
}
.advert__top-item {
}
.item {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1 1 50%;
	padding: 60px;
	min-height: 600px;
	&:first-child {
		padding-left: 45px;
	}
	&:last-child {
		padding-right: 45px;
	}
	@media (max-width: 1200px) {
		min-height: 500px;
		padding: 20px;
		&:first-child {
			padding-left: 20px;
		}
		&:last-child {
			padding-right: 20px;
		}
	}
	@media (max-width: 992px) {
		min-height: 450px;
	}
	@media (max-width: 480px) {
		border-bottom: 2px solid #fff;
	}
}
.item-title {
	font-weight: bold;
	font-size: 32px;
	line-height: 150%;
	margin-bottom: 20px;
	@media (max-width: 1200px) {
		font-size: 26px;
	}
	@media (max-width: 480px) {
		font-size: 24px;
		text-align: center;
	}
}
.item-image {
	margin-bottom: 20px;
	height: 350px;
	display: flex;
	align-items: center;
	justify-content: center;
	img {
		max-width: 100%;
	}
	@media (max-width: 1200px) {
		height: 300px;
	}
}
.item-text {
	font-size: 18px;
	line-height: 150%;
	text-align: center;
	@media (max-width: 480px) {
		font-size: 16px;
	}
}
.advert__bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 200px;
	@media (max-width: 767px) {
		flex-direction: column;
		align-items: flex-start;
	}
}
.advert__bottom-item {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1 1 50%;
	padding: 20px;
}
.bottom-item-image {
}
.bottom-item-text {
	max-width: 338px;
	margin-left: 42px;
	font-size: 16px;
	line-height: 150%;
	color: #000000;
	@media (max-width: 767px) {
		max-width: 100%;
		margin-left: 20px;
	}
	@media (max-width: 360px) {
		margin-left: 10px;
		font-size: 14px;
	}
}
.publish {
}
.publish__body {
}
.publish__title {
}
.publish__text {
}
.publish__infographic {
	background: #f5f5f5;
	display: flex;
	justify-content: space-between;
	@media (max-width: 992px) {
		flex-direction: column;
	}
}
.publish__item {
}
.contacts {
	margin-top: 100px;
	position: relative;
	&:after {
		content: "";
		display: block;
		height: 1px;
		width: 90%;
		background-color: #e8e8e8;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%);
	}
	@media (max-width: 767px) {
		margin-top: 30px;
	}
}
.contacts__body {
}
.contacts__map {
	height: 500px;
	width: 100%;
	margin-bottom: 48px;
	@media (max-width: 767px) {
		margin-bottom: 32px;
	}
}
.contacts__footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	a {
		font-size: 16px;
		line-height: 150%;
	}
	padding-bottom: 48px;
	@media (max-width: 850px){
		flex-direction: column;
		text-align: center;
	}
	@media (max-width: 767px) {
		padding-bottom: 30px;
	}
}
.contacts__footer-item {
	@media (max-width: 850px){
		margin-bottom: 24px;
	}
}
.footer-item-title {
	font-weight: bold;
	font-size: 24px;
	line-height: 150%;
	margin-bottom: 8px;
}
.footer-item-text {
	font-size: 16px;
	line-height: 150%;
	a {
		font-size: 16px;
		line-height: 150%;
		color: #000;
		padding-left: 36px;
		&:hover {
			text-decoration: underline;
		}
	}
}
.phone-link {
	background: url("../img/phone.svg") left no-repeat;
	display: block;
}
.email-link {
	background: url("../img/at.svg") left no-repeat;
	display: block;
}
.footer-item-button-container {
}
.footer-item-button {
	font-size: 16px;
	line-height: 150%;
	color: #000000;
	padding: 10px 24px;
	border: 1px solid  #6bb86c;
	border-radius: 40px;
	&:hover{
		background: linear-gradient(90deg, #6bb86c 0%, #0c988d 100%);
		color: #fff;
		text-decoration: none;
	}
}
.footer {

}
.footer__body {
	height: 144px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	@media (max-width: 540px){
		flex-direction: column-reverse;
		justify-content: space-evenly;
		&:after {
			content: "";
			display: block;
			height: 1px;
			width: 100%;
			background-color: #e8e8e8;
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}
}
.footer__copyright {
	font-size: 16px;
line-height: 150%;
}
.footer__button {
	font-size: 16px;
	line-height: 150%;
	color: #000000;
	padding: 10px 24px;
	border: 1px solid  #6bb86c;
	border-radius: 40px;
	&:hover{
		background: linear-gradient(90deg, #6bb86c 0%, #0c988d 100%);
		color: #fff;
		text-decoration: none;
	}
}
.footer__devlogo {
	@media (max-width: 540px){
		display: none;
	}
}
.footer__devlogo-invisible{
	display: none;
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
	@media (max-width: 540px){
		display: block;
	}
}